
<div class="modal fade" tabindex="-1" role="dialog" id="meeting-notes-list-modal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form method="post" id="files-form">
                <div class="modal-header dv-bg-success">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Meeting Notes</h4>
                </div>
                <div class="modal-body">
                    <div class="meeting-notes-container p-10">
                        <ul class="story-list" id="meeting-notes-list">
                        </ul>
                        <div class="clearfix"></div>
                        <hr class="m-y-5" />
                        <div class="user-stories-paging d-flex v-center h-space-between">
                            <p id="apdt_meeting-notes_info">Showing <span class="apdt_startfrom">0</span> to <span class="apdt_endto">0</span> of <span class="apdt_total">0</span> records</p>
                            <div class="" id="meeting-notes-paging-container"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
