
<ul class="hide hidden" hidden id="project-search-list-item-template">
    <li>
        <p class="search-line-1">
            <strong class="m-r-5 result-type">Project</strong><a class="main-link" href="#" t-link t-project></a>
        </p>
        <p class="search-line-2">
            <span t-meeting-schedule></span>
        </p>
    </li>
</ul>

<ul class="hide hidden" hidden id="story-search-list-item-template">
    <li>
        <p class="search-line-1">
            <strong class="m-r-5 result-type">Story</strong><a  class="main-link" href="#" t-link t-story></a>
        </p>
        <p class="search-line-2">
            <span t-project-name class="m-r-15"></span><span t-story-name></span>
        </p>
    </li>
</ul>

<ul class="hide hidden" hidden id="task-search-list-item-template">
    <li>
        <p class="search-line-1">
            <strong class="m-r-5 result-type">Task</strong><a  class="main-link" href="#" t-link t-task-name></a>
        </p>
        <p class="search-line-2">
            <span t-task-description></span>
        </p>
    </li>
</ul>

<ul class="hide hidden" hidden id="meeting-search-list-item-template">
    <li>
        <p class="search-line-1">
            <strong class="m-r-5 result-type">Meeting</strong><a  class="main-link" href="#" t-link t-meeting-purpose></a>
        </p>
        <p class="search-line-2">
            <span t-project-name class="m-r-15"></span>
            <span t-meeting-time></span>
        </p>
    </li>
</ul>

<ul class="hide hidden" hidden id="file-search-list-item-template">
    <li>
        <p class="search-line-1">
            <strong class="m-r-5 result-type">File</strong><a class="main-link" href="#" t-link t-file-name target="_blank"></a>
        </p>
        <p class="search-line-2">
            <span t-project-name></span>
        </p>
    </li>
</ul>

<ul class="hide hidden" hidden id="note-search-list-item-template">
    <li>
        <p class="search-line-1">
            <strong class="m-r-5 result-type">Note</strong><a  class="main-link" href="#" t-link t-note-text></a>
        </p>
        <p class="search-line-2">
            <span t-project-name></span>
        </p>
    </li>
</ul>
<ul class="hide hidden" hidden id="testscript-search-list-item-template">
    <li>
        <p class="search-line-1">
            <strong class="m-r-5 result-type">Test-Script</strong><a class="main-link" href="#" t-link t-testscript-text></a>
        </p>
        <p class="search-line-2">
            <span t-project-name></span>
        </p>
    </li>
</ul>
