#full-overlay {
    background-color: rgb(48, 175, 212);
}

.modal-header-danger {
    background-color: #067494;
    color: #fff;
}

.modal-header-success {
    background-color: #067494;
    color: #fff;
}

.modal-header-primary {
    background-color: #067494;
    color: #fff;
}

.modal-header-info {
    background-color: #067494;
    color: #fff;
}

.modal-header-warning {
    background-color: #067494;
    color: #fff;
}

.top-bar {
    background-color: #000;
}

#search-tabs > li:hover > a, #search-tabs > li:focus > a {
    background: #ACD0DB;
}

.left-drawer {
    background-color: #067494;
}

.left-drawer-nav-list > li:hover {
    background-color: #277C95;
}

.dv-bg-success {
    background-color: #047394;
}

.dv-btn-success {
    background-color: #047394;
}

    .dv-btn-success:hover, .dv-btn-success:focus, .dv-btn-success.focus {
        background-color: #095F77;
    }

.form-control, .d-input {
    border-color: #6C6D6D;
}

hr {
    border-top-color: #6C6D6D;
}

.d-tag, .d-tag-sm {
    border-color: #60C7E5;
    background: #8CCCDE;
}

.d-label {
    color: #047494;
}

.btn-default {
    border-color: #6C6D6D;
}

.btn-success {
    background-color: #218CAB;
    border-color: #1B809D;
}

    .btn-success:hover {
        background-color: #045D76;
        border-color: #047494;
    }

.table-bordered {
    border: 1px solid #6C6D6D;
}

    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        /*border: 1px solid #6c6b6b;*/
        border-color: #6C6D6D;
    }

.devs-table th {
    color: #047494;
}

.dv-slidecontainer > .range-slider-value-indicator {
    background: #047494;
}

    .dv-slidecontainer > .range-slider-value-indicator::after {
        border-right: 7px solid #047494;
    }

.dv-slider::-webkit-slider-thumb {
    background: #047494;
}

.dv-slider::-moz-range-thumb {
    background: #047494;
}

.d-checkmark {
    border: 1px solid #047494;
}

.d-checkbox-container input.d-checkbox:checked ~ .d-checkmark {
    background-color: #047494;
}

.project-details-container label {
    color: #047494;
}

#sprint-actual-hrs-progress-bar.progress-bar-success {
    background-color: #047494;
}

#search-tabs {
    border-bottom: 1px solid #047494;
}

    #search-tabs > li > a {
        color: #047494;
    }

    #search-tabs > li.active > a, #search-tabs > li.active > a:hover, #search-tabs > li.active > a:focus {
        background: #047494;
    }
/* Track */
::-webkit-scrollbar-track {
    background: #23809B;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1A5D70;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #0F5C73;
    }
