
@{
    ViewBag.Title = "Logs";
}

<div class="container-fluid">
    <div class="row bg-w p-15">
        <h3>
            Logs
        </h3>

        <div class="clearfix"></div>
        <table id="apiLogs-table" class="table table-striped table-bordered devs-table" style="width:100%">
            <thead>
                <tr>
                    <th class="text-center m-w-170">Date-Time</th>
                    <th>Level</th>
                    <th>Message</th>
                    <th>Type</th>
                    <th>Additional Info</th>
                    <th>Method Call</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
            </tfoot>
        </table>
        <div class="clearfix"></div>
        <hr class="m-y-5" />
        <div class="user-stories-paging d-flex v-center h-space-between">
            <p id="apdt_apiLogs_info">Showing <span class="apdt_startfrom">0</span> to <span class="apdt_endto">0</span> of <span class="apdt_total">0</span> records</p>
            <div class="" id="apiLogs-paging-container"></div>
        </div>
        <hr class="m-b-0 m-t-10" />
    </div>
</div>

@{
    Html.RenderPartial("Modals/_LogDetailsModalPartial");
}

@section scripts{
    <script src="~/Scripts/js/ApiLogs.js"></script>
}
