@{
    int projectId = ViewBag.ProjectId ?? 0;

    bool isMyPage = ViewBag.My ?? false;

    ViewBag.Title = (isMyPage ? "My " : "") + "Meetings";
}
@Html.Hidden("MainProjectId", projectId)
@Html.Hidden("IsMyPage", isMyPage)

<div class="container-fluid">
    <div class="row bg-w p-15">
        <div class="d-flex v-center h-space-between">
            <h3 class="d-flex v-center">
                <label>@ViewBag.Title</label>
            </h3>
            <a role="button" class="btn dv-btn-success btn-sm pull-right" ap-action-meeting-modal-form data-project-id="@projectId">
                <i class="fa fa-plus m-r-10"></i> Create Meeting
            </a>
        </div>
        <hr class="m-y-10" />
        <div class="d-flex v-center h-space-between">
            <div class="filter-by-item f-grow-1 m-x-5 col-lg-3">
                <label>Team</label>
                <select class="form-control teams-ddl" id="filter-team-id" multiple="multiple">
                    <option value="">Select Team</option>
                </select>
            </div>
            <div class="filter-by-item f-grow-1 m-r-5">
                <label class="d-block">Project</label>
                <select class="form-control projects-ddl" id="filter-project-id">
                    <option value="">Select Project</option>
                </select>
            </div>
            <div class="filter-by-item f-grow-1 m-x-5">
            </div>
            <div class="filter-by-item f-grow-1 m-l-5">
            </div>
        </div>
        <hr class="m-y-10" />
        <ul class="story-list p-r-10" id="project-meetings-list">
        </ul>
        <div class="clearfix"></div>
        <hr class="m-y-5" />

        <div class="user-stories-paging d-flex v-center h-space-between">
            <p id="apdt_meetings_info" style="display: none">Showing <span class="apdt_startfrom">0</span> to <span class="apdt_endto">0</span> of <span class="apdt_total">0</span> records</p>
            <div class="" id="meetings-paging-container"></div>
        </div>
        <hr class="m-b-0 m-t-10" />
    </div>
</div>

@{
    Html.RenderPartial("Lists/_MeetingsPartial", new PartialModel { ProjectId = projectId, IsMyPage = isMyPage, IsListPage = true });
    Html.RenderPartial("Modals/_SaveMeetingModalPartial", new PartialModel { ProjectId = projectId });

    Html.RenderPartial("Modals/_MeetingNotesModalPartial", new PartialModel { ProjectId = projectId });
    Html.RenderPartial("Modals/_SaveNoteModalPartial", new PartialModel { ProjectId = projectId, NoteType = (int)NoteType.Meetings, IdPrefix = "meeting_" });

    Html.RenderPartial("Lists/_NotesPartial", new PartialModel { NoteType = (int)NoteType.Meetings, IsEditEnabled = true });
}

@section scripts{
    <script src="~/Scripts/js/CookieUtils.js"></script>
    <script src="~/Scripts/js/NoteService.js"></script>
    <script src="~/Scripts/js/MeetingService.js"></script>
    <script src="~/Scripts/js/Meetings.js"></script>
}

