@{
    ViewBag.Title = "Rota-Supp";
}

<div class="container-fluid">
    <div class="row bg-w p-15">
        <div class="box box-primary">
            <div class="box-body no-padding">
                <!-- THE CALENDAR -->
                <div id="calendar"></div>
            </div><!-- /.box-body -->
        </div><!-- /. box -->
    </div>
</div>

@section scripts{
    <script src="~/Scripts/js/RotaSuppService.js"></script>
    <script src="~/Scripts/js/RotaSupp.js"></script>
}